.pressure-example {
    text-align: center;
}

.pressure-container {
    margin-bottom: 40px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.pressure-plate {
    --pressure-opacity: 0;
    background: linear-gradient(135deg, hsl(229, 76%, 66%, var(--pressure-opacity)) 0%, hsl(270, 37%, 46%, var(--pressure-opacity)) 100%);
    width: 100%;
    height: 200px;
    border-radius: 1rem;
    border: 1px solid var(--color-border);
}
